Repository CrossNox/YouConfigMe: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, pylint, pytest, linter

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: trailing-whitespace
      - id: requirements-txt-fixer
-   repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      args: [--skip-string-normalization]
      exclude: docs
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      args: [--max-line-length=88]
      exclude: docs
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
      args: [--multi-line=3,--trailing-comma,--force-grid-wrap=0,--use-parentheses,--line-width=88]
      exclude: docs|tests
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      exclude: docs
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      exclude: docs
    - id: pytest
      name: pytest
      language: system
      entry: nox --session tests
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: linter
      name: linter
      language: system
      entry: nox --session cop
      types: [python]
      stages: [push]
      pass_filenames: false

commit
  .flake8
  tests/test_cast.py
Due: black, flake8, mypy, pylint, pytest, linter

commit
  tests/test_cast.py
  youconfigme/cast.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  tests/test_cast.py
Due: black, flake8, mypy, pylint, pytest, linter

add casts
  .flake8
  tests/test_cast.py
  tests/test_config_section.py
  tests/test_default_none.py
  tests/test_typing.py
  youconfigme/cast.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  youconfigme/__init__.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  noxfile.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

stash
  setup.py
  youconfigme/youconfigme.pyi
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  youconfigme/youconfigme.pyi
Due: none

commit
  .flake8
  .pre-commit-config.yaml
  tests/test_cast.py
  tests/test_pass.py
  youconfigme/common_casts.py
  youconfigme/getpass.py
  youconfigme/use_gnupass.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  tests/test_typing.py
  youconfigme/youconfigme.py
  youconfigme/youconfigme.pyi
Due: black, flake8, isort, mypy, pylint, pytest, linter

Typing (#8)
  .flake8
  .pre-commit-config.yaml
  mypy.ini
  noxfile.py
  setup.py
  tests/test_cast.py
  tests/test_config_section.py
  tests/test_default_none.py
  tests/test_pass.py
  tests/test_typing.py
  youconfigme/__init__.py
  youconfigme/common_casts.py
  youconfigme/getpass.py
  youconfigme/py.typed
  youconfigme/use_gnupass.py
  youconfigme/youconfigme.py
  youconfigme/youconfigme.pyi
Due: black, flake8, isort, mypy, pylint, pytest, linter
