Repository CrossNox/YouConfigMe: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, pylint, pytest, linter

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: trailing-whitespace
      - id: requirements-txt-fixer
-   repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      args: [--skip-string-normalization]
      exclude: docs
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      args: [--max-line-length=88]
      exclude: docs
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
      args: [--multi-line=3,--trailing-comma,--force-grid-wrap=0,--use-parentheses,--line-width=88]
      exclude: docs|tests
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      exclude: docs
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      exclude: docs
    - id: pytest
      name: pytest
      language: system
      entry: nox --session tests
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: linter
      name: linter
      language: system
      entry: nox --session cop
      types: [python]
      stages: [push]
      pass_filenames: false

allow users to change the separator between sections and attributes
  README.md
  tests/test_config_from_mapping_default_osenv.py
  tests/test_sep.py
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

fix version
  youconfigme/__init__.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

deploy: fc9175f3d03586d9ea11500b22b08ee9ed6c4deb
  index.html
  searchindex.js
Due: none

get variable values from gnu pass
  tests/test_pass.py
  youconfigme/__init__.py
  youconfigme/getpass.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

deploy: 86141165c314100b9bce071cec772c4911f2c404
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  modules.html
  py-modindex.html
  search.html
  searchindex.js
  youconfigme.html
Due: none

fix flow
  .github/workflows/tests.yml
Due: none

bump
  youconfigme/__init__.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

fix tests
  .github/workflows/tests.yml
Due: none

patch subprocess.run
  .github/workflows/tests.yml
  tests/test_pass.py
Due: black, flake8, mypy, pylint, pytest, linter

deploy: 4196364526108967fc07c6c5f10d480ca9eaff74
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  modules.html
  py-modindex.html
  search.html
  youconfigme.html
Due: none

ini tempfiles and support toml
  setup.py
  tests/test_config_from_toml_file.py
  tests/test_config_from_toml_file_with_default_section.py
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

ini tempfiles and support toml
  README.md
Due: none

ini tempfiles and support toml
  setup.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

fix import
  setup.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

fix get_version
  setup.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

deploy: 94ce299507c8e20ad9331ff7f1771cddec3d39b3
  index.html
  searchindex.js
Due: none

cfixdefault logger options
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

deploy: b170ea98c5f276fba07d90b33cdc1dd1df328d31
  .buildinfo
  _static/css/badge_only.css
  _static/css/theme.css
  _static/documentation_options.js
  genindex.html
  index.html
  modules.html
  py-modindex.html
  search.html
  youconfigme.html
Due: none

improve error messages
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

remove logging by defauult
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

remove logging by default
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

deploy: 9ce7249b6c27b78cc21c521e58cb9a1069b1eadb
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  modules.html
  py-modindex.html
  search.html
  youconfigme.html
Due: none

fix default level
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

deploy: b07f9d72a3702291e6cf0373d1ece5de3d6bae65
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  modules.html
  py-modindex.html
  search.html
  youconfigme.html
Due: none

add to dotenv and fetch env vars for to_dict
  tests/test_compound_config_section.py
  tests/test_config_from_mapping_default_osenv.py
  tests/test_config_section.py
  tests/test_to_env.py
  youconfigme/__init__.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

fix
  .github/workflows/deploy.yml
  .github/workflows/linter.yml
  .github/workflows/tests.yml
Due: none

fix
  noxfile.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  noxfile.py
  tests/test_compound_config_section.py
  tests/test_config_from_ini_file.py
  tests/test_config_from_ini_file_with_default_section.py
  tests/test_config_from_mapping.py
  tests/test_config_from_mapping_default_osenv.py
  tests/test_config_from_mapping_with_default_section.py
  tests/test_config_from_string.py
  tests/test_config_from_string_with_default_section.py
  tests/test_config_from_toml_file.py
  tests/test_config_from_toml_file_with_default_section.py
  tests/test_config_section.py
  tests/test_pass.py
  tests/test_sep.py
  tests/test_to_env.py
  youconfigme/__init__.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

add typing
  mypy.ini
  setup.py
  youconfigme/__init__.py
  youconfigme/getpass.py
  youconfigme/py.typed
  youconfigme/youconfigme.py
  youconfigme/youconfigme.pyi
Due: black, flake8, isort, mypy, pylint, pytest, linter

add tests
  mypy.ini
  setup.py
  tests/test_typing.py
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  .flake8
  .pre-commit-config.yaml
  mypy.ini
  tests/test_typing.py
Due: black, flake8, mypy, pylint, pytest, linter

commit
  youconfigme/__init__.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  .pre-commit-config.yaml
Due: none

commit
  noxfile.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  setup.py
Due: black, flake8, isort, mypy, pylint, pytest, linter

add
  tests/test_typing.py
  youconfigme/__init__.py
  youconfigme/cast.py
  youconfigme/youconfigme.py
  youconfigme/youconfigme.pyi
Due: black, flake8, isort, mypy, pylint, pytest, linter

commit
  tests/test_typing.py
Due: black, flake8, mypy, pylint, pytest, linter

commit
  youconfigme/youconfigme.py
Due: black, flake8, isort, mypy, pylint, pytest, linter
